@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Raleway&family=Roboto:ital,wght@1,400;1,500&display=swap');

body{
    background-color: #dfdfdf;
}

.logo{
    width: 60px;
}

.logo2{
    width: 300px;
}

.logo-contatos{
    width: 1px;
    padding-top: 5px;
    display: flex;
}

.tamanho-mapa {
    border-color:gray;
    border-style: solid;
    border-width: 2px;
    padding: 0px;
    width: 60%;
     height:453px ;
}

.navbar-brand{
    margin-left: 2vw;
    font-family: 'Lobster', cursive;
}

footer p{
    font-family: 'Roboto', sans-serif;
    margin-top: 3vh;
}

.btn{
    background-color: #FE5D26;
    color: white;
    margin-bottom: 5px;
}

.btn:hover{
    background-color: #d44b1e;
    color: white;
}

.main-title{
    text-align: center;
    text-decoration: underline;
}

.main{
    padding: 50px;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-gap: 55px;
    grid-template-columns: repeat(auto-fit, 300px);
}
